
.error-msg{
  color: #f50;
  padding-left: 16px;
}
.fixed-header.am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
.am-tabs-tab-bar-wrap{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.am-card{
  margin-bottom: 6px;
}
.page-content{
  padding: 45px 5px;
}
.stick-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#chat-page .chat-me .am-list-extra{
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content{
  padding-right: 15px;
  text-align: right;
}
